@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.miniCart {
  width: 300;
  top: 2rem;
  left: -250px;
}

.login {
  width: 300;
  top: 2rem;
  left: -250px;
}